{% extends "base.html" %} 

{% block content %}

    <section class="mb-6">
        <h2 class="text-xl mb-2"><strong>About</strong></h2>
        <p>This is an application designed to show nutritional values from six of the largest and most popular fast food restaurants.</p>
    </section>

    <section>
        <h2 class="text-xl mb-2"><strong>Attributes include:</strong></h2>
        <ul class="list-disc pl-5">
            <li>Calories</li>
            <li>Cholesterol</li>
            <li>Sodium</li>
            <li>Protein</li>
            <li>Sugars</li>
        <br>
        </ul>
    </section>
    
    <br>
    <br>

    <section>
        <h2 class="text-xl mb-4"> <Strong>Reference</Strong></h2>
        <p>This dataset was created by JOAKIM ARVIDSSON who uploaded it on Kaggle.
        <p>You can view the dataset <a href="https://www.kaggle.com/datasets/joebeachcapital/fast-food"><strong>here</strong></a>.</p>
        </p> 
        
    </section>


{% endblock %}

   
   
   
